@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

/*! header start  */
.header {
  background: url(../img/2.png) no-repeat center / cover;
  padding-top: 40px;
  min-height: 600px;
  color: #fff;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo {
}
.navbar-list {
  display: flex;
  gap: 30px;
}
.navbar-item {
}
.navbar-link {
  font-size: 18px;
  line-height: 22px;
}
.navbar-btn {
  background: #1f4aa8;
  border-radius: 39px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;

  padding: 16px 50px;
  border: 0;
}
.hero {
  padding-top: 117px;
  padding-bottom: 95px;
  text-align: center;
}
.hero-heading {
  font-size: 72px;
  line-height: 88px;
  margin-bottom: 35px;
}
.hero-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
}
.book {
  background: #ffffff;
  border-radius: 30px;
  padding: 20px 44px 25px 44px;

  position: relative;
  top: 150px;
}
.book-header {
  border-bottom: 1px solid rgb(0, 0, 0, 0.38);
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.book-list {
  display: flex;
  gap: 50px;
}
.book-item {
}
.book-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #888aa2;
}
.book-body {
}
.book-form {
}
.book-check-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-check-left {
  display: flex;
  gap: 30px;
}
.form-control {
}
.book-radio {
}
.book-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-left: 15px;
}
.book-check-right {
}
.book-check-list {
  display: flex;
  gap: 27px;
}
.book-check-item {
}
.book-check-link {
  font-size: 14px;
  line-height: 17px;
  color: #1f4aa8;
}

.book-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  margin-top: 18px;
  margin-bottom: 18px;
}
.book-input {
  padding: 13px 14px;
  border: 0.5px solid #000000;
  border-radius: 10px;
  flex: 1;
}
.book-date {
  padding: 13px 14px;
  border: 0.5px solid #000000;
  border-radius: 10px;

  flex: 1;
}
.book-btn {
  background: #1f4aa8;
  border-radius: 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: 0;

  padding: 20px 87px;

  display: block;
  margin: 0 auto;
}
/*! header end  */

/*! gallery start  */
.gallery {
  background: #222831;
  padding-top: 250px;
  padding-bottom: 100px;
}

.gallery-heading {
  margin-bottom: 27px;

  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.gallery-card {
}
.gallery-card-1 {
  grid-column: 1 / 3;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.gallery-card-2 {
}
.gallery-card-3 {
}
.gallery-card-4 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.gallery-card-5 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}
/*! gallery end  */
/*!app start  */
.app {
  background: #222831;
  text-align: center;
  padding-bottom: 100px;
}
.container {
}
.app-heading {
  font-weight: 600;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #FFFFFF;

margin-bottom: 10px;

}
.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}
.app-img { 
}

/*!app and */